<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- 定义别名 -->
    <typeAliases>
        <typeAlias type="com.njit.demo.entity.User" alias="User"/>
        <typeAlias type="com.njit.demo.entity.Stock" alias="Stock"/>
        <typeAlias type="com.njit.demo.entity.StockTBL" alias="StockTBL"/>
        <typeAlias type="com.njit.demo.entity.StockDataTBL" alias="StockDataTBL"/>
    </typeAliases>
    
</configuration>