<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njit.demo.mapper.StockMapper">
	<!-- 股票 -->
	<resultMap type="com.njit.demo.entity.Stock" id="stockMap">
		<id column="id" property="id"></id>
		<result column="stockCode" property="stockCode" />
		<result column="stockName" property="stockName" />
	</resultMap>
	<!-- 股票表 -->
	<resultMap type="com.njit.demo.entity.StockTBL" id="stockTBLMap">
		<id column="code" property="code"></id>
		<result column="shortName" property="shortName" />
		<result column="marketType" property="marketType" />
		<result column="marketValue" property="marketValue" />
	</resultMap>
	<!-- 股票数据表 -->
	<resultMap type="com.njit.demo.entity.StockDataTBL" id="stockDataTBLMap">
		<id column="id" property="id"></id>
		<result column="code" property="code" />
		<result column="currentDate" property="currentDate" />
		<result column="open" property="open" />
		<result column="high" property="high" />
		<result column="low" property="low" />
		<result column="close" property="close" />
		<result column="volume" property="volume" />
		<result column="adjClose" property="adjClose" />
	</resultMap>
	<!-- 股票 -->
	<select id="selectStock" parameterType="Stock" resultType="java.util.List"
		resultMap="stockMap">
		select * from stock where stockCode = #{stockCode} and
		stockName = #{stockName}
	</select>
	<select id="selectStockByStockName" parameterType="java.lang.String"
		resultType="java.util.List" resultMap="stockMap">
		select * from stock where
		stockName = #{stockName}
	</select>
	<insert id="insertStock" parameterType="Stock">
		insert into stock values
		(#{id},#{stockCode},#{stockName})
	</insert>
	<!-- 股票表 -->
	<select id="selectStockTBLByCode" parameterType="java.lang.String"
		resultType="java.util.List" resultMap="stockTBLMap">
		SELECT * FROM stockTBL WHERE
		code = #{code}
	</select>
	<insert id="insertStockTBL" parameterType="StockTBL">
		insert into stockTBL
		values (#{code},#{shortName},#{marketType},#{marketValue})
	</insert>
	<!-- 股票数据表 -->
	<select id="selectStockDataTBLByCodeAndDate"  parameterType="StockDataTBL"
		resultType="java.util.List" resultMap="stockDataTBLMap">
		SELECT * FROM stockDataTBL WHERE
		code = #{code} AND currentDate = #{currentDate}
	</select>
	<insert id="insertStockDataTBL" parameterType="StockDataTBL">
		insert into
		stockDataTBL
		values (
		null,#{code},#{currentDate},#{open},#{high},#{low},#{close},#{volume},#{adjClose})
	</insert>
</mapper>